<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minter Node GUI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tweetnacl/1.0.0/nacl.min.js"></script>
    <style>

        .card {
            margin-bottom: 20px;
        }
        
        .body {
            padding-top: 15px;
            height: 100%;
        }

        .table {
            margin-bottom: 0;
            table-layout: fixed;
        }

        .card-header {
            font-weight: bold;
        }

        .card-header {
            padding-left: 12px;
        }

        .h {
            width: 200px;
            background-color: #f3f3f3;
            border-right: 1px solid #ccc;
        }

        .bg-success, .bg-danger {
            color: white;
        }

        .bg-danger {
            border-color: #dc3545 !important;
        }

        .bg-success {
            border-color: #28a745 !important;
        }
    </style>
</head>
<body style="background-color: #343a401a">
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand mb-0 h1"><i class="fas fa-terminal"></i> &nbsp; Minter Full Node Status</span>
        </div>
    </nav>
    <div class="container body" v-if="error">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error while connecting to local node</h4>
            <p class="mb-0">{{ error }}</p>
        </div>
    </div>
    <div class="container body bg-white" v-if="status">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Node Info
                    </div>
                    <table class="table card-body">
                        <tbody>
                        <tr>
                            <td class="h">Moniker</td>
                            <td>{{ status.node_info.moniker }}</td>
                        </tr>
                        <tr>
                            <td class="h">Node ID</td>
                            <td>{{ status.node_info.id }}</td>
                        </tr>
                        <tr>
                            <td class="h">Listen Addr</td>
                            <td>{{ status.node_info.listen_addr }}</td>
                        </tr>
                        <tr>
                            <td class="h">Network ID</td>
                            <td>{{ status.node_info.network }}</td>
                        </tr>
                        <tr>
                            <td class="h">Tendermint Version</td>
                            <td>{{ status.node_info.version }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Syncing Info
                    </div>
                    <table class="table card-body">
                        <tbody>
                        <tr>
                            <td class="h">Is Synced</td>
                            <td :class="{'bg-success': status.sync_info.catching_up == false, 'bg-danger': status.sync_info.catching_up == true}">{{ status.sync_info.catching_up == false ? 'true' : 'false' }}</td>
                        </tr>
                        <tr>
                            <td class="h">Latest Block</td>
                            <td>
                                #{{ status.sync_info.latest_block_height }} <span
                                    class="text-muted">at {{ status.sync_info.latest_block_time }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    <div class="card-header">
                        Validator Info
                    </div>
                    <table class="table card-body">
                        <tbody>
                        <tr>
                            <td>Public Key</td>
                            <td>Mp{{ bytesToHex(status.validator_info.pub_key) }}</td>
                        </tr>
                        <tr>
                            <td>Voting Power</td>
                            <td>{{ niceNum(status.validator_info.voting_power) }} <span class="text-muted">of 100,000,000</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            status: null,
            error: null
        },
        mounted() {
            this.refresh()

            setInterval(this.refresh, 1000)
        },
        methods: {
            niceNum(num) {
                return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            bytesToHex(bytes) {
                return Array.from(bytes, function (byte) {
                    return ('0' + (byte & 0xFF).toString(16)).slice(-2);
                }).join('')
            },
            refresh() {
                axios.get("//" + window.location.hostname + ':8841/api/status').then(function (data) {
                    this.status = data.data.result.tm_status
                    this.error = null
                }.bind(this)).catch(function (reason) {
                    this.error = reason.toString();
                }.bind(this))
            }
        }
    })
</script>
</body>
</html>